
# DesignSpark project temp files
~*

# DesignSpark libraries temp files
libraries/*.cmx
libraries/*.psx
libraries/*.ssx

# Generated Gerber files
gerber/
Gerber/

# Kicad project files
*-cache.lib
*-rescue.lib
*-save.kicad_pcb
*-save.pro
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.net
